{% extends 'layout.html.twig' %}

{% block title %}
{{ project.getFullName() }} @ LibreCores
{% endblock %}

{% block pagepath %}Home &raquo; Projects &raquo; {{ project.getFullName() }}{% endblock %}

{% block content %}
<h1>Just a moment, we're currently processing this project!</h1>

You'll be redirected to the project page shortly
(or you can <a href="{{ app.request.uri }}">refresh</a> the page yourself).

{% endblock %}
