# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     librecores
    database_user:     librecores
    database_password: ~

    # Swiftmailer email configuration
    # Docs at https://symfony.com/doc/3.4/email.html
    mailer_encryption: tls
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    # Require confirmation of email address after a new user registered
    # on LibreCores. Requires a working mailer setup.
    user_email_confirmation_enabled: false

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # RabbitMQ configuration
    rabbitmq_host:     localhost
    rabbitmq_port:     5672
    rabbitmq_user:     ~
    rabbitmq_password: ~

    # OAuth configuration: GitHub
    # Register at https://github.com/settings/applications
    github_app_id:     ~
    github_app_secret: ~

    # OAuth configuration: Google
    # Register at https://console.developers.google.com/
    # https://console.developers.google.com/project/librecores/apiui/credential/oauthclient
    google_app_id:     ~
    google_app_secret: ~

    # Sentry Configuration
    # Register at https://sentry.io
    sentry_dsn:        ~
    # Options: dev, staging, production
    sentry_env:       'dev'

    env(ALGOLIA_APP_ID):  ~
    env(ALGOLIA_API_KEY): ~
