# HWIOAuthBundle
hwi_oauth_security:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix: /user/connect

hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /user/connect

hwi_oauth_connect:
     resource: "@HWIOAuthBundle/Resources/config/routing/connect.xml"
     prefix: /user/connect

github_login:
    path: /user/connect/check-github

google_login:
    path: /user/connect/check-google

librecores.user.settings.oauth-disconnect:
    path: /user/disconnect/{serviceName}
    defaults: { _controller: LibrecoresProjectRepoBundle:User:disconnectFromOAuthService }

librecores.user.settings.profile:
    path: /user/settings/profile
    defaults: { _controller: LibrecoresProjectRepoBundle:User:profileSettings }

librecores.user.settings.connections:
    path: /user/settings/connected-services
    defaults: { _controller: LibrecoresProjectRepoBundle:User:connectionsSettings }

librecores.user.settings.password:
    path: /user/settings/password
    defaults: { _controller: LibrecoresProjectRepoBundle:User:passwordSettings }

librecores.user.dashboard:
    path: /user/dashboard
    defaults: { _controller: LibrecoresProjectRepoBundle:User:dashboard }

# FOSUser
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"
    prefix:   /user

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /user/register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /user/resetting

# Default landing page after user's password reset
#
# Disable if there is a better way (than overriding the FOS controller) to force the
# landing page of a successful reset into the 'librecores.user.settings.profile' route
# or even better to the 'librecores.user.settings.password' route.
#
fos_user_profile_show: # = librecores.user.settings.profile
    path: /user/settings/profile
    defaults: { _controller: LibrecoresProjectRepoBundle:User:profileSettings }

# Handled by the 'librecores.user.settings.profile' route
#
#fos_user_profile:
#    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
#    prefix: /user/profile

# Handled by the 'librecores.user.settings.password' route
#
#fos_user_change_password:
#    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
#    prefix: /user/profile

# Site routes ("static content")
librecores_site:
    resource: "@LibrecoresSiteBundle/Resources/config/routing.yml"
    prefix:   /static

# Planet routes
librecores_planet:
    resource: "@LibrecoresPlanetBundle/Resources/config/routing.yml"
    prefix:   /planet

# Project Repository Routes
librecores_project_repo:
    resource: "@LibrecoresProjectRepoBundle/Resources/config/routing.yml"
    prefix:   /
