*~

# IntelliJ IDEA project files
.idea

# Eclipse project files
.buildpath
.project
.settings

/ansible/*.retry

# secrets of all kinds
/aws-secrets.include

# private configuration
/vagrant/Vagrantfile.private
