*~

# IntelliJ IDEA project files
.idea

# Eclipse project files
.buildpath
.project
.settings

# VS Code project files
/.vscode
/*.code-workspace

/ansible/*.retry

# secrets of all kinds
/aws-secrets.include

# private configuration
/vagrant/Vagrantfile.private
