{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="mx-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Reset Password</h3>
      </div>
      <div class="card-body">
        <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
      </div>
    </div>
  </div>
{% endblock fos_user_content %}
