{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="mx-auto librecores-user-signupin-panel">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Reset Password</h3>
      </div>
      <div class="card-body">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}),
                              'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <button class="btn btn-success btn-block" type="submit" id="_submit" name="_submit">
          Reset Password
        </button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock fos_user_content %}
