@CHARSET "UTF-8";

html, body {
  height: 100%;
}

body {
  background: none repeat scroll 0 0 #fff;
  font-weight: 400;
  line-height: 24px;

  /* move content below top navbar */
  padding-top: 60px;

  /* for sticky footer */
  display: flex;
  flex-direction: column;
}

#maincontent {
  /* for sticky footer */
  flex: 1 0 auto;
}

h1 {
  color: #3fb0ac;
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}
h2 {
  color: #3fb0ac;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 26px;
}
h3 {
  color: #3fb0ac;
  font-weight: 400;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 24px;
}
h4 {
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 20px;
}
pre, code {
  border-radius: 3px 3px 3px 3px;
  color: #000000;
  font-size: 14px;
}
pre {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  border: medium none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.075) inset;
}
code {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
}
pre code {
  background: none repeat scroll 0 0 transparent;
  box-shadow: none;
}

.anchor { padding-top: 60px; }

h1 a:hover, h1 a:active {
  color: #3fb0ac;
}

.list-group-item {
  padding-left: 20px;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #555;
  box-shadow: none;
  background-image: none;
  background-color: #fff;
  border: 1px solid #ddd;
  /* ensure that padding-left + border-left == padding-left in the non-active
     case (see above) */
  padding-left: 15px;
  border-left: 5px solid #3fb0ac;
  text-shadow: none;
}

.librecores-list-group-header {
  font-weight: bold;
}

.form-desc {
  font-style: italic;
  padding-bottom: 5px;
}

/* top navigation bar */
.librecores-nav {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(153, 153, 153, 0.75);

  color: #777;
  border-bottom: 1px solid #cccccc;

  /* remember to adjust body padding-top as well */
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 60px;
}

.librecores-nav .navbar-brand {
  background: no-repeat scroll left center transparent;
  background-image: url("/img/logo_small.svg");
  margin-left: 10px;
  padding-left: 40px;
  display: inline-block;
  background-size: 30px 30px;
}

.librecores-nav .nav > li a {
  color: #777;
}

.librecores-nav .nav > li a:focus,
.librecores-nav .nav > li a:hover {
  background-color: #fff;
  color: #3fb0ac;
}

.navbar-toggle {
  border-color: #AAAAAA;
}
.navbar-toggle .icon-bar {
  background-color: #AAAAAA;
}

.wordmark {
  color: #666666;
  text-shadow: 0 1px 0 white;
  font-size: 25px;
}

/* search bar, also including quicknav */
.librecores-searchbar {
  background-color: #dddfd4;
  color: #173e43;
  vertical-align: middle;
  line-height: 32px;
  padding: 10px;
}

.librecores-searchbar button {
  background-color: #484235;
  color:#fff;
  font-variant:small-caps;
  font-weight:600;
  text-shadow: none;
}

/* home page */
.librecores-home-startpane {
  background-color: #dddfd4;
  padding-top: 50px;
}
.librecores-home-banner {
  background-color: #173e43;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
  text-align:center;
}

.librecores-home-banner > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.librecores-home-banner-wordmark {
  font-size: 40px;
  line-height: normal;
  color: #3fb0ac;
}

.librecores-home-banner-claim {
  font-size: 24px;
  line-height: normal;
  color: #c0c4b0;
  margin-bottom: 8px;
}

.librecores-home-banner-search {
  margin-top: 20px;
}

.librecores-home-banner-search input {
  font-size: 20px;
  height: 40px;
  min-width: 50%;
}

.librecores-home-banner-search button {
  margin-left: 20px;
  background-color: #e62739;
}

.librecores-home-showcase {
  background-color: #dddfd4;
  margin-top: 30px;
  color: #173e43;
  padding-bottom: 30px;
}

.librecores-home-showcase > div.container > div {
  padding-left: 0;
  padding-right: 0;
}

.librecores-home-showcase > div.container > div > img {
  width: 100%;
  display: block;
}

.librecores-home-showcase-keyword {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.librecores-home-showcase-desc {
  text-align: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 1.4em;
}

.librecores-home-showcase-btn {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.librecores-home-showcase-link-xs {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.librecores-home-showcase-btn:hover,
.librecores-home-showcase-btn:focus,
.librecores-home-showcase-btn:visited {
  color: #3fb0ac;
}

.librecores-home-showcase-desc-middle-claim {
  margin-bottom: 10px;
  font-weight: bold;
}

/* footer */
.librecores-footer {
  /* for sticky footer */
  flex-shrink: 0;

  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #eaebe5;
  font-weight: 300;
  border-top: 1px solid #dddfd4;
}

.librecores-footer .social {
  font-size: 26px;
}

.librecores-footer ul {
  list-style: none;
}

.librecores-footer .social li {
  float: right;
  margin-left: 15px;
}



/* PROJECT REPOSITORY CSS */
.tab-pane {
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  padding: 10px;
  font-size: 100%;
}

.tab-pane h1:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.librecores-project-header {
  margin-bottom: 20px;
}

.librecores-project-header > h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.librecores-project-header > h1 a {
  color: #777;
}

.librecores-project-header > .tagline {
  margin-top: 0.5em;
  font-style: italic;
  color: #777777;
}

.librecores-project-header .project-info {
  margin: 1.5em 0;
}

.librecores-project-header .project-info .project-quality > .stars {
  color: gold;
  font-size: 1.25em;
}

.librecores-project-header .project-info .project-quality > .star-value {
  color: #666;
}

.librecores-project-header .project-info .project-quality > .score-help a {
  color: #666;
  font-size: 0.8em;
}

.librecores-project-infobox .code-quality-score {
  color: gold;
}

.librecores-project-infobox .librecores-project-contributor-avatar-box {
  padding: 1em;
}

.librecores-project-infobox .librecores-project-contributor-avatar-box > .librecores-project-contributor-avatar {
  border-radius: 2px;
}

.librecores-project-infobox .librecores-project-disclaimer {
  font-size: 0.8em;
  margin-top: 2em;
  color: #666666;
}

.librecores-project-infobox .librecores-project-activity > p {
  font-size: 0.8em;
  margin-top: 5px;
  color: #444;
  text-align: center;
}

/*.panel-default > .panel-heading {
  font-weight: 600;
  font-size: 20px;
  background-image: linear-gradient(to bottom,#173e43 0,#173e43 100%);
  color: #3fb0ac;
  text-shadow: none !important;
}*/

.panel-title {
  text-shadow: none;
  /*color: #3fb0ac;*/
  font-weight: bold;
  font-size: 1.2em;
  line-height: normal;
}

.librecores-search {
  margin-top: 20px;
}

.librecores-search h1 {
  font-weight: bold;
  font-size: 2em;
  color: #3fb0ac;
  margin-top: 0;
}

.librecores-user-page-header {
  margin: 0;
  padding-bottom: 0px;
}

.librecores-user-page-header > h1 {
  margin-bottom: 0px;
}

.librecores-tabs-topnav {
  margin-bottom: 5px;
}

.librecores-new-project-label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* LOGIN/SIGNUP CSS */
.librecores-user-signupin-panel {
  width: 280px;
  margin-top: 40px;
}

.or-container {
  text-align:center;
  margin-top:20px;
  color:#808080;
  font-variant:small-caps;
  font-size:13px;
  line-height: 1.3em;
}
.or-hr {
  margin-bottom:-20px;
  height:0;
  border:0;
  border-top:1px solid #e6e6e6;
}
#or {
  display:inline-block;
  position:relative;
  padding:10px;
  background-color:#fff;
}

/* PLANET */
.librecores-planet-infocol {
   font-size: 0.8em;
}

.librecores-planet-post h3 {
  margin-bottom: 0px;
}

.librecores-planet-author {
  color: gray;
  font-size: 0.8em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.librecores-planet-teaser {
  padding-top: 10px;
  padding-bottom: 20px;
}

.librecores-planet-teaser img {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 90px;
  max-height:90px;
}

.col-fa-3x {
  width: 65px;
  padding-left: 5px;
  position: absolute;
  height: 100%;
}

.col-fa-3x img {
  float: left;
  padding-left: 8px;
  padding-top: 8px;
  max-width: 48px;
  max-height:48px;
}

.col-offset-fa-3x{
  padding-left: 80px;
  min-height: 64px;
}

.librecores-icon-pr {
  transform: rotate(180deg) scale(-1,1);
}

.librecores-ct-bar,
.librecores-ct-line {
  stroke: #0f4bac;
}

.librecores-ct-bar {
  stroke-width: 10px;
}

.librecores-ct-line {
  fill: #0f4bac;
  fill-opacity: 0.2;
  stroke-width: 2px;
}

.project-commit-graph {
  position: static;
  display: block;
}

.librecores-lang-chart-label {
  color: white;
  font-size: 0.75em;
}

.bootstrap-select.btn-group .dropdown-menu {
  z-index: 1050; /* to over-ride navbar z-index*/
}

.classification-category {
  height: 40px;
  margin:0 10px 5px;
}

.classification-hierarchy {
  position: relative;
}

.close-category,
.add-category {
  position: absolute;
  top: -5px;
  padding: 5px;
}

.close-category {
  right: 15px;
}

 .add-category {
   right: 40px;
 }

.classifications {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 10px;
  display: table;
}

.categories {
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  background-color: #3fb0ac;
  color: #fff;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.categories span {
  display: table-cell;
  padding: 6px;
  vertical-align: middle;
}

.classifications a {
  text-align: center;
  display: table-cell;
  color: #fff;
  background: transparent;
  border: 0;
  border-left: 1px solid hsla(0,0%,100%,.2);
  padding: 6px;
}
