/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/web/css/
/web/js/
!web/js/.gitkeep
!web/css/.gitkeep
/web/assetic
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
