/var/
!var/cache/.gitkeep
!var/logs/.gitkeep

/app/config/parameters.yml

/phpunit.xml

/vendor/

/web/bundles/
/web/css/
/web/js/
!web/js/.gitkeep
!web/css/.gitkeep
/web/assetic
/web/build

/bin/*
!bin/console
!bin/symfony_requirements

/yarn.lock
/node_modules
