/var/
!var/cache/.gitkeep
!var/logs/.gitkeep

/app/config/parameters.yml

/phpunit.xml

/vendor/

/web/bundles/
/web/css/
/web/js/
!web/js/.gitkeep
!web/css/.gitkeep
/web/assetic

/bin/*
!bin/console
!bin/symfony_requirements

/node_modules/*
/web/build/*
/yarn-error.log
/assets/js/frontend-config.json
