{% block head %}
    <style>
        .seen-form, .remove-form{
            display: inline-block;
        }
        .notification-date{
            font-size: 10px;
        }
        .notification-message{
            font-size:12px;
            color: black;
        }
        .notification-message, .notification-date, .notification-action{
            list-style:none;
            text-align: left;
        }
        .form-buttons{
            font-size: 10px;
            background:none;
            color:inherit;
            border:none;
            padding:0!important;
        }
    </style>
{% endblock %}

{% block body %}
    {% if mgilet_notification_count(app.user) != 0 %}
        {% for notification in notificationList %}
            <li class="notification-item">
                <li class="notification-date">{{ notification.notification.date|date }}</li>
                <li class="notification-message">{{ notification.notification.message }}</li>
                {# Buttons to mark a notification as seen and also remove them #}
                <div class="notification-action">
                    <form class="seen-form"
                          method="post">
                        <button class="form-buttons" type="submit"><u>Mark as Seen</u></button>
                    </form>
                    <form class="remove-form"
                          method="post">
                        <button class="form-buttons" type="submit"><u>Remove</u></button>
                    </form>
                </div>
            <hr>
            </li>
        {% endfor %}
    {% else %}
        <li>Welcome to Librecores website!</li>
    {% endif %}
{% endblock %}
