{% extends '@Twig/Exception/error.html.twig' %}

{% block error_title %}
  We could not find what you were looking for
{% endblock %}

{% block error_description %}
  The requested resource couldn't be located.
{% endblock %}

{% block error_explanation %}
  <p>
    Checkout for any URL misspelling or an outdated bookmark.
    If an internal link led you here, please <a href="https://github.com/librecores/librecores-web/issues">let us know</a>.
  </p>
{% endblock %}
