{% extends 'layout.html.twig' %}

{% block title %}Delete project - LibreCores{% endblock %}

{% block content %}
<h1>Project Deleted</h1>

<p>Your project {{ Fqname }} has been deleted from LibreCores.<br><br>

  Do you want to add a new project? Or search for an existing one?
</p>
{% endblock %}
