{% extends 'base.html.twig' %}

{% block body %}

{#<div class="librecores-searchbar">
<div class="container">
  <div class="pull-left">something -> something -> asdf{% block pagepath %}{% endblock %}</div>
  <div class="pull-right">
    <form class="form-inline">
      <input type="text" class="form-control"  placeholder="What are you looking for?">
      <button class="btn btn-outline-secondary text-uppercase" type="submit">
        <span class="fa fa-search" aria-hidden="true"></span>
        Find IP Core
      </button>
    </form>
  </div>
</div>
</div>#}

<div class="container" id="maincontent">
  {# flash messages, i.e. "user account has been created" #}
  {% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message | trans | raw }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  {# the main content #}
  {% block content %}{% endblock %}
</div>
{% endblock %}
