# Routing Schema
#
# /projects
#   Homepage of the project repository

# /search
#   general search functionality: one interface which combines all searchable
#   items (projects, users, organizations, ...)

# /project/*
#   project management and utility functionality

# /org/*
#   organization management. No user-defined pages in this namespace.

# /user/*
#   user management, such as login, logout, OAuth connect, etc.
#   No user-defined pages in this namespace.

# /*
#   Most frequently used pages to display users, organizations and projects.
#   This namespace contains mainly pages with user-defined names (usernames,
#   organization names, project names), so special care must be taken to avoid
#   namespace collisions.




# Project repository homepage
librecores_project_repo_homepage:
    path:     /
    defaults: { _controller: LibrecoresSiteBundle:Default:home }

# Unified search: users, organizations and projects
librecores_project_repo_project_search:
    path:     /search
    defaults: { _controller: LibrecoresProjectRepoBundle:Default:search }



# Project/Organization management pages
librecores_project_repo_project_new:
    path:     /project/new
    defaults: { _controller: LibrecoresProjectRepoBundle:Project:new }

librecores_project_repo_project_list:
    path:     /project/list
    defaults: { _controller: LibrecoresProjectRepoBundle:Project:list }

#  management pages
librecores_project_repo_organization_new:
    path:     /org/new
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:new }

librecores_project_repo_organization_list:
    path:     /org/list
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:list }



# User/Organization view routes
librecores_project_repo_user_org_view:
    path:     /{userOrOrganization}
    defaults: { _controller: LibrecoresProjectRepoBundle:Default:userOrgView }

librecores_project_repo_user_org_settings:
    path:     /{userOrOrganization}/settings
    defaults: { _controller: LibrecoresProjectRepoBundle:Default:userOrgSettings }



# Project routes

librecores_project_repo_project_view:
    path:     /{parentName}/{projectName}
    defaults: { _controller: LibrecoresProjectRepoBundle:Project:view }

librecores_project_repo_project_settings:
    path:     /{parentName}/{projectName}/settings
    defaults: { _controller: LibrecoresProjectRepoBundle:Project:settings }

librecores_project_repo_project_update:
    path: /{parentName}/{projectName}/update
    defaults:
        _controller: 'LibrecoresProjectRepoBundle:Project:update'

librecores_project_repo_project_status:
    path: /{parentName}/{projectName}/crawl_status
    defaults:
      _controller: 'LibrecoresProjectRepoBundle:Project:crawlStatus'


# Organization routes

librecores_project_repo_organization_view:
    path:     /{organizationName}
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:view }

librecores_project_repo_organization_settings:
    path:     /{organizationName}/settings
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:settings }

librecores_project_repo_organization_settings_delete:
    path:     /{organizationName}/settings/delete
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:delete }

librecores_project_repo_organization_settings_join:
    path:     /{organizationName}/settings/join
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:join }

librecores_project_repo_organization_settings_leave:
    path:     /{organizationName}/settings/leave
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:leave }

librecores_project_repo_organization_settings_approve:
    path:     /{organizationName}/settings/approve/{userName}
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:approve }

librecores_project_repo_organization_settings_deny:
    path:     /{organizationName}/settings/deny/{userName}
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:deny }

librecores_project_repo_organization_settings_remove:
    path:     /{organizationName}/settings/remove/{userName}
    defaults: { _controller: LibrecoresProjectRepoBundle:Organization:remove }



# User management pages
# most /user/XXX routes are defined in app/config/routing.yml in the
# FOSUserBundle routes.



# Redirect trailing slash
# http://symfony.com/doc/current/routing/redirect_trailing_slash.html
librecores_project_repo_remove_trailing_slash:
    path:     /{url}
    defaults: { _controller: LibrecoresProjectRepoBundle:Default:removeTrailingSlash }
    requirements:
        url:  .*/$
    methods:  [GET]
