---
# GitHub OAuth secrets
# get it from https://github.com/settings/applications/
site_github_app_id: "INSERT_OAUTH_ID_HERE"
site_github_app_secret: "INSERT_OAUTH_SECRET_HERE"

# Google OAuth secrets
site_google_app_id: "INSERT_OAUTH_ID_HERE"
site_google_app_secret: "INSERT_OAUTH_SECRET_HERE"

